/* Color */
$primary: #030303;
$secondary: #FBFF22;
$warning: #C96464;
$success: #FBFF22;
$danger: #C96464;

$secondary-dark: #9C9E18;

$body-bg: #F3F1E5;
$body-color: #030303;

$border-color: #030303;

/* Setting */
$enable-rounded: false;
$enable-rfs: false;

/* Font Family */
$font-family-sans-serif: "Noto Sans TC", sans-serif;
$headings-font-family: 'Yeseva One', "Noto Serif TC", sans-serif; // for none CJK
$display-font-family: "Noto Serif TC", sans; // for TC
$font-family-base: "Noto Sans TC";

/* Line Height */ 
$headings-line-height: 1.155;
$display-line-height: 1.436875;
$line-height-sm: 1.4367; // for chinese lh
$line-height-lg: 1.155; // for none CJK lh
$input-btn-line-height: $line-height-sm;

/* Font Size */
$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 3.5;
$h3-font-size:                $font-size-base * 3;
$h4-font-size:                $font-size-base * 2;
$h5-font-size:                $font-size-base * 1.5;
$h6-font-size:                $font-size-base * 1.125;

/* Font Weight */
$display-font-weight: 700;
$headings-font-weight: 700;

/* Border Width */
$input-btn-border-width: 0;
$btn-border-width: 0;
$nav-tabs-border-width: 0;

/* Button */
$btn-color: $secondary;
$btn-padding-y: 0.5rem;
$btn-padding-y-sm: 0.5rem;
$btn-padding-y-lg: 0.5rem;
$btn-padding-x: 8.5rem;
$btn-padding-x-sm: 2rem;

/* Card */
$card-cap-bg:  $body-bg;
$card-cap-padding-y: 0.5rem;
$card-cap-padding-x: 0;
$card-border-width: 0;

/* Form */
$input-border-width: 2px;
$input-placeholder-color: #878787;
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
$input-font-size: 1rem;
$input-group-addon-padding-x: 0;
$input-group-addon-padding-y: 0;
$input-group-addon-bg: $primary;
$input-group-addon-color: $secondary;

/* Badge */
$badge-font-size: 0.875rem;
$badge-font-weight: 700;
$badge-color: $primary;
$badge-padding-y: 4px;
$badge-padding-x: 16px;

/* Pagination */
$pagination-padding-x: 0;
$pagination-padding-y: 0.5rem;
$pagination-hover-color: $secondary;
$pagination-hover-bg: $primary;