<div class="header-area border-bottom border-3 py-3 py-lg-6">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="header-area__left-wrap d-flex">
      <a class="header-area__logo-wrap d-flex align-items-center me-md-12" href="./index.html">
        <img src="../assets/image/logo.png" alt="" class="header-area__logo d-block me-o me-md-4">
        <h1 class="header-area__title-wrap mb-0 h4 align-middle d-none d-md-block">7TAO<span class="header-area__subtitle fs-7 align-middle d-inline-block ms-1 mb-0">活動訂票網</span></h1>
      </a>
      <!-- <input class="form-control me-2 border" type="search" placeholder="Search" aria-label="Search"> -->
      <form class="d-block" role="search">
        <input class="form-control border border-3  py-2 px-3" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="header-area__right-wrap">
      <ul class="header-area__menu-list list-unstyled d-flex align-items-center mb-0 d-none d-md-flex">
        <li class="header-area__menu-item"><a href="" class="header-area__menu-item-link">REGISTER</a></li>
        <li class="header-area__menu-item"><a href="" class="header-area__menu-item-link">LOGIN</a></li>
      </ul>
      <div class="header-area__hamburger d-md-none fs-6 align-text-top py-1 px-3 rounded border">
        <i class="bi bi-list py-0"></i>
      </div>
    </div>
    
  </div>
</div>       