.header-area__logo {
  width: 40px;
  height: 40;
  @include media-breakpoint-up(md) {
    width: 53px;
    height: 53px;
  }
}

.header-area__search-icon {
  aspect-ratio: 1;
  width: 39px;
  @include media-breakpoint-up(md) {
    width: 51px;
  }
}

.header-area__collapse-menu {
  background-color: #F3F1E5;
}

.join-member-modal {
  .modal-dialog {
    max-width: 100%;
    @include media-breakpoint-up(sm) {
      max-width: 375px;
    }
    @include media-breakpoint-up(md) {
      max-width: 636px;
    }
  }
  .modal-content {
    background-color: $white;
  }
  .btn-primary{
    color: $secondary;
    &:hover {
      color: $secondary-dark;
    }
  }
}

.join-member-modal-close {
  top: 25px;
  right: 20px;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23030303'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  @include media-breakpoint-up(md) {
    right: 32px;
  }
  &:hover {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239C9E18'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  }
}